<script type = "module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const name = <%- JSON.stringify(name) %>;
    const email = <%- JSON.stringify(email) %>;
</script>
<script src="/loggedInFunctionality.js"></script>
<script type = "module" src="/logout.js"> </script>

</body>
</html>